.vagrant/
provision/*.retry
provision/roles/andrewrothstein.anaconda
provision/roles/andrewrothstein.bash
provision/roles/andrewrothstein.unarchive-deps
.DS_Store
Thumbs.db
*.pyc
out
.ipynb_checkpoints
vagrant/bootstrap_complete.txt
vagrant/.vagrant/
twitter.oauth_access
Berksfile.lock
._*
